{% extends 'mysite/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 100px">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="{% static 'mysite/images/unopinion.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Unopinion</h5>
                    <p class="card-text">This is my startup whose aim is help Youtube content creators achieve success..</p>
                    <p class="card-text">
                        <small class="text-muted">www.unopinion.com</small>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'mysite/images/firefight.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">FireFight</h5>
                    <p class="card-text">IOT Application to help firefighters. Includes Facial Tracking and Environment detection</p>
                    <p class="card-text">
                        <small class="text-muted">Internet of Things</small>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'mysite/images/kupika.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Kupika</h5>
                    <p class="card-text">Smart Container for Babies - IOT based Application and hardware</p>
                    <p class="card-text">
                        <small class="text-muted">Android Developement</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
